<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <!-- Metas ...--->
    <title>Suggest-o-tron- make your impression in the hacker subculture!</title>
    <meta name="description" content="Suggest-o-tron- make your impression in the hacker subculture!">
    <meta name="author" content="jgumbley.com, Jim Gumbley">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>

    <style>
    h1 { font-family: 'Fugaz One', Cursive, serif; font-weight: 400; text-align: center }
    h2 { font-family: 'Fugaz One', Cursive, serif; font-weight: 400; color: #333333  }
    p { font-family: Monospace; color: #444444  }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/img/favicon.ico">
</head>

<body>

<div class="container">
<div class="content">
  <div class="row">&nbsp;</div>
  <div class="row"><h1>{{ suggestion }}</h1></div>
        <div class="row">
          <hr/>
          <div class="span3">
            <img align="right" src="/static/img/shades.png">
            &nbsp;
          </div>
          <div class="span3">
            <h2>suggest-o-tron ©</h2>
            <small>make your impression in the coder subculture.</small>
          </div>
          <div class="span6">
            <p>Made by <a href="http://twitter.com/jgumbley/">Jim Gumbley</a> using <a href="http://www.python.com">Python</a> 
            and <a href="http://flask.pocoo.org/">Flask</a>. Bunged into <a href="https://github.com/jgumbley/suggest-o-tron">Github</a>
            and hosted on Heroku. 
            </p>
            <p>I am not proud of what I did :(
            </p>
          </div>
        </div>
      </div>
</div>
</div> <!-- /container -->

    <footer>
      <script type="text/javascript"><!--
        google_ad_client = "ca-pub-0792254104883970";
        /* LowProfile-Light */
        google_ad_slot = "0216187975";
        google_ad_width = 120;
        google_ad_height = 90;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </footer>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5585534-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body></html>
